/*****************************************************
 *** Non-variable with color theme Colors
 *****************************************************/
$link-color: #4285f4;
$body-bg-color: #fafafa;
$border-color: #e0e0e0;
$off-black: rgba(30, 40, 50, 0.8); // Materialize main text color

$shine-color-a: gold;
$shine-color-b: #B326E0;

$super-accent-color: #f64d00;

$light-text-color: #fefefe;
$brightest-text-color: #fff;
$brightest-bg-color: #fefefe;

// materialize primary and secondary color
$primary-color: #4285f4;
$secondary-color: $primary-color;

$header-bg-color: #FFFEF6;

$sidebar-bg-color: #584D63;

$main-highlight-bg-color: #FFFFD8;

$answer-bg-color: $body-bg-color;
