<!DOCTYPE html>
<html>
<head lang="en">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{title}}</title>

<!--<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">-->

<!-- Styles -->
{{#if (eq ENV "development")}}
    <link type="text/css" rel="stylesheet" href="/css/all-app.css" />
{{else}}
    <link type="text/css" rel="stylesheet" href="/css/all-app.min.css" />
{{/if}}

<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Roboto:500,700" rel="stylesheet">
{{!<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">}}
<script src="https://use.fontawesome.com/237782de81.js"></script>

<script>
    var DATA = {{{ dataJsonStr }}};
</script>